<div class="section-right-header">
    <div class="section-main-container">
        <!-- <div class="section-right-header-left">
            <button type="button" id="switch"><i class="icon_align-right"></i></button>
            <button type="button" id="switch1" style="display:none"><i class="icon_align-right"></i></button>
        </div> -->
        <div class="section-right-header-right">
            <!-- <div class="section-right-notification">
                <ul>
                    <li><span class="notification"></span><a href="javascript:void(0)"><i class="icon_bell"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon_cog"></i></a></li>
                </ul>
            </div> -->
            <div class="section-right-name" ng-controller="userCtrl">
                <ul>
                    <li>
                        <span>{{user.fullname}}</span> 
                        <span>
                            <md-menu md-position-mode="target-right target" >
                              <md-button aria-label="Actions" class="md-icon-button md-warn md-hue-1" ng-click="$mdOpenMenu($event)">
                                <md-icon><i class="material-icons">person</i></md-icon>
                              </md-button>
                              <md-menu-content width="2" style="top:30px;">
                                <md-menu-item>
                                    <md-button class="md-warn" ng-click="logout()">logout</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button class="md-warn" ng-click="logout()">logout</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button class="md-warn" ng-click="goto('user.profile')">Profile</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button class="md-warn" ng-click="goto('user.changepassword')">Change Password</md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>