<div class="col-md-12 col-xs-12 chatHeads__secondry" data-ng-show="chatHeadMessage" data-ng-hide="chatHeadFound">
	<div class="notification" id="seraching-partner">
		<div class="message-text">{{chatHeadMessage}}</div></div>
</div>
<div data-ng-show="chatHeadMessageNearby" class="col-md-12 col-xs-12 chatHeads__secondry">
	<div class="notification">
		<div class="message-text">{{chatHeadMessageNearby}}</div></div>
</div>
<div data-ng-show="chatHeadMessageCountry" class="col-md-12 col-xs-12 chatHeads__secondry">
	<div class="notification" >
		<div class="message-text">{{chatHeadMessageCountry}}</div></div>
</div>
<div class="col-md-12 col-xs-12 chatHeads__secondry" data-ng-hide="chatHeadMessage" data-ng-show="chatHeadFound">
	<div class="notification" >
		<div class="message-text">{{chatHeadFound}}</div></div>
</div>
<div data-ng-show="chatHeadMessageInterests" class="col-md-12 col-xs-12 chatHeads__secondry">
	<div class="notification" >
		<div class="message-text">{{chatHeadMessageInterests}}</div></div>
</div>


