
<div class="not-found">
	<div class="col-md-12 col-xs-12 notification">
    	<p class="message-text">We are sorry! We could not find a chat partner</p>
    </div>
     <div class="co-md-12">
     	<img src="assets/images/try-again.png" class="try_again">
     </div>
     <div class="col-md-12">
        <p class="try-text">Try again or change chat filter settings</p>
     </div>
     <div class="col-md-12">
     	 <div class="col-md-6 col-sm-6">
     	 	<button type="button" class="btn btn-default try-again" ng-click="findAgain(userInfo)">Try Again</button>
     	 </div>
         <div class="col-md-6 col-sm-6">
           <button type="button" class="btn btn-default try-again chat" ui-sref="filter.world">Chat Filter</button>
         </div>
     </div>
</div>