   <div class="wrapper-chat">
   
   	 <div class="container">
      <div class="chat-container">
      	
      		<div class="col-md-12">
               <p class="partner" id="seraching-partner">You are now connected to a random peson nearby. Happy chatting!</p>
            </div>
           
           <div class="col-md-12">
	          <div class="message--share">
                <div class="message-text">
                  <p>Hi whats up!</p>	
                </div>
                <div class="message-icon">
                  <img src="assets/images/chat-box.png">	
                </div>
              </div>
             
              <div class="message--share">
                <div class="message-text other">
                  <p>Hi,just chilling what about you?</p>	
                </div>
                <div class="message-icon">
                  <img src="assets/images/chat-box1.png">	
                </div>
              </div>
               <div class="message--share">
	                <div class="message-text">
	                  <p>Nothing much,where are you from?</p>	
	                </div>
	                <div class="message-icon">
	                  <img src="assets/images/chat-box.png">	
	                </div>
              </div>
             
              <div class="message--share">
	                <div class="message-text other">
	                  <p>I'm from Denmark. And you?</p>	
	                </div>
	                <div class="message-icon">
	                  <img src="assets/images/chat-box1.png">	
	                </div>
              </div>

	          <div class="photo-sharing">
	             <p class="pho-shr">Photo sharing request sent</p>
	          </div>
		 </div>
		
		  
   </div>

    <!--<div class="camera-container">
		  	  <div class="col-md-6"></div>
		  	  <div class="col-md-6">
		  	  	<div class="col-md-3">
		  	  		<div class="upload"><img src="assets/images/upload-photo.png"><p>Upload Photo</p></div>
		  	  	</div>
		  	  	<div class="col-md-3">
		  	  		<div class="upload"><img src="assets/images/camera-photo.png"><p>Take Photo</p></div>
		  	  	</div>
		  	  </div>

		    </div>-->
		 
   <div class="footer-chat">
	   <div class="row">
	       <div class="col-md-1">
	          <button type="button" class="btn btn-default report quit">Quit</button>
	       </div>

	       <div class="col-md-10">
		       <div class="input-img">
		          <div class="row">
		            <div class="col-md-11">
		              <input class="form-control" id="focusedInput" type="text" placeholder="Write a message...(Enter to send)" value="">
		            </div>

		            <div class="col-md-1">
		               <a href="#"><i class="fa fa-smile-o" aria-hidden="true"></i></a> 
		              <a href="sharing-photo.html"><i class="fa fa-camera" aria-hidden="true"></i></a>
		            </div>
		          </div>
		       </div>
	       </div>

	       <div class="col-md-1">
	          <button type="button" class="btn btn-default report quit send ">Send</button>
	       </div>
	    </div>
	  </div>

   	 </div>
   </div>



		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>	

		<script>
			$(document).ready(function(){
			    $(".got").click(function(){
			        $(".wrapper-1").hide();
			       
			    });
			    
			});
        </script>
