<div class="section-right-middle">
	<div class="section-right-middle-left">
		<div class="section-right-middle-left-2">
			<h5>Dashboard / </h5>
			<h4>Home</h4> 
		</div>
		<div class="clear"></div>
	</div>
	<div class="section-right-middle-right right-align">
		<!-- <md-button class="md-raised md-primary" ui-sref="classes.list" aria-label="description" md-ripple-size="full">
		<i class="icon_eye"></i>&nbsp;&nbsp;View all classes
		</md-button> -->
	</div>
	<div class="clear"></div>
</div>
<div class="section-right-bottom">
		<div layout="row" class="custom-cards" layout-margin layout-fill style="min-height: 100px;">
			<div flex>
				<div class="card orangebg">
					<div layout="row" layout-align="space-between center">
						<div>
							<h4>classes</h4>
							<h2>8</h2>
						</div>
						<div>
							<img class="right" src="public/assets/imgs/class.png" alt="">
						</div>
					</div>
					
				</div>
			</div>
			<div flex>
				<div class="card yellowbg">
					<div layout="row" layout-align="space-between center">
						<div>
							<h4>Subjects</h4>
							<h2>50</h2>
						</div>
						<div>
							<img class="right" src="public/assets/imgs/subjects.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div flex>
				<div class="card greenbg">
					<div layout="row" layout-align="space-between center">
						<div>
							<h4>members</h4>
							<h2>500</h2>
						</div>
						<div>
							<img class="right" src="public/assets/imgs/groups.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacer-20"></div>
		<md-table-container>
		  <table md-table ng-model="selected" md-progress="promise">
		    <thead md-head>
		      <tr md-row>
		        <th md-column>Member Name</th>
		        <th md-column>Group/Intitute</th>
		        <th md-column>Status</th>
		        <th md-column>Actions</th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row>
		        <td md-cell>Akhiles Mishra</td>
		        <td md-cell>Group Name</td>
		        <td md-cell>status</td>
		        <td md-cell>actions</td>
		        
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
</div>