<div class="section-right-middle">
	<div class="section-right-middle-left">
		<div class="section-right-middle-left-2">
			<h5>Dashboard / </h5>
		<h4>Update Section</h4> </div>
		<div class="clear"></div>
	</div>
	<div class="section-right-middle-right right-align">
		<md-button class="md-raised md-primary" ui-sref="sections.list" aria-label="description" md-ripple-size="full">
		<i class="icon_eye"></i>&nbsp;&nbsp;View all sections
		</md-button>
	</div>
	<div class="clear"></div>
</div>
<div class="section-right-bottom">
	<div class="content-here">
		<md-content layout-padding layout-wrap>
			<p>
				<md-icon>
			    	<a href="javascript:void();" class="md-primary" onclick="history.back(0);"><i class="material-icons">arrow_back</i></a>
			    </md-icon>
			    &nbsp;Please enter section details.</p> <br>
			<br>
			<form name="form" ng-submit=update(class)>
				<div layout="row" layout-xs="column">
					<div flex>
						<md-input-container class="md-block">
							<label>Section Name</label>
							<input required name="name" ng-model="class.name">
							<div ng-messages="form.name.$error">
								<div ng-message="required">Please enter section name.</div>
							</div>
						</md-input-container>
					</div>
					<div flex>
						<md-input-container class="md-block">
							<label>Section ID (cannot change class ID)</label>
							<input disabled name="clsid" ng-model="class.clsid">
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-xs="column">
					<div flex>
						<md-input-container class="md-block">
						<label>Description (optionl)</label>
						<textarea ng-model="class.description" rows="5" md-select-on-focus></textarea>
					</md-input-container>
					</div>
					
				</div>
				<input type="hidden" ng-model="class._id">
            	<div layout="row" layout-align="center center">
					<md-input-container>
						<md-button type="submit" class="md-primary md-raised md-hue-1" ng-disabled="form.$invalid">Update Section</md-button>
					</md-input-container>
				</div>
			</form>
		</md-content>
	</div>
</div>