			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="footer--links">
							<ul class="contact-privacy">
								<li><a ui-sref="contact">Contact</a></li>
								<li> | </li>
								<li><a ui-sref="privacy">Privacy Policy</a></li>
								<li> | </li>
								<li><a ui-sref="terms">Terms of Use </a></li>
								<li> | </li>
								<li><a ui-sref="feedback">Feedback</a></li>
							</ul>
						</div>
						<div class="footer-social-links">
							<div class="footer__social__icons">
								<ul class="footer_icon">
									<li>Follow Us : </li>
									<li><a target="_blank" href="https://www.twitter.com/kosmochat"><div><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
									<li><a target="_blank" href="https://www.facebook.com/kosmochatofficial"><div><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
									<li><a target="_blank" href="https://www.instagram.com/kosmochat"><div><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
									<li><a target="_blank" href="#"><div><i class="fa fa-google-plus" aria-hidden="true"></i></div></a></li>
									<li><a target="_blank" href="https://www.pinterest.com/kosmochat"><div><i class="fa fa-pinterest-p" aria-hidden="true"></i></div></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>



