			<header ng-hide="$state.current.name == 'home'">		
				<div class="container">					
					<div class="col-md-6 col-sm-4">	
						<div class="mobile-menu">
							<a href="#menu" id="toggle"><span></span></a>
							<div id="menu">
							  <ul>
								<li><a ui-sref="contact">Contact</a></li>
								<li><a ui-sref="privacy">Privacy Policy</a></li>
								<li><a ui-sref="terms">Terms of Use</a></li>
								<li><a ui-sref="feedback">Feedback</a></li>
							  </ul>
							</div>
						</div>						
						<div class="main-logo">							
							<a ui-sref="filter.world"><img src="assets/images/logo.png" /></a>					
						</div>							
						<div class="clear"></div>						
					</div>
				</div>
			</header>