<div ng-include="'views/master/header.html'" ></div>
	   <div class="container contactUs--page" filters-height>
	     <div class="row" ng-style="style" style="padding-top:40px;">
	       <div class="col-md-12">
	         <div class="term-text">
		         <h1 class="term-big text">Contact</h1>
		        <p class="term-text">Have a question? Or just want to say hi? Click on the button below and send us an email. We will get back to you as soon as possible.</p>
               <button type="button" class="btn btn-default ready contact">support@kosmochat.com</button>
	         </div>  
	       </div>
	     </div>
	   </div>

   
<div ng-include="'views/master/footer.html'" ></div>

