	<div class="fixed-header" ng-include="'views/master/header.html'" ></div>	   
	<div class="container fixed-header-container" filters-height>
	     <div class="row" ng-style="style" style="padding-top:40px;">
	       <div class="col-md-12">
	         <div class="term-text">
		         <h1 class="term-big text">Privacy Policy</h1>
		         <h5 class="term-heading">Last updated: 26 August 2016</h5>
		         <p class="term-text">This Privacy Policy (“Policy”) explains how information about you is collected, used, and disclosed by KosmoChat (collectively “KosmoChat”, “we”, “our”, “website”, or “Service”).  This Policy provides information handling practices we apply when you use our website. By making use of KosmoChat, you accept the information handling practices described in this Privacy Policy. 
	             </p>
	         </div>  <br>

	          <div class="term-text">
	          	<h4>1. What type of information do we collect?</h4>
		         <p class="term-text">When you visit our website we automatically collect information about you. All information collected in any way through the use of our service is hereafter referred to as “Information” in this Policy. We collect Information on a server within Amazon Web Services (AWS).
		         <br>
		         <br>
		         The Information we collect about you when you visit our website includes: Your interaction with our website, the type of browser you are using when you visit our website, the date and time you visit our website, and your IP address. Information we collect about you may be used for statistical purposes, such as tracking the average number of visitors on our website. 
		         <br>
		         <br>
		         We also use “cookies” to collect Information. We may use both session cookies and persistent cookies to optimize the user experience of our website and gain a better understanding of how visitors interact with our website. For more information on our use of cookies, please see “5. Use of cookies” below. We also use Google Analytics to track your visit ratio to our website. Please note that Information we collect through Google Analytics is non-personally-identifying statistical Information.


		         </p>


	         </div>  <br> 
	          <div class="term-text">
	          	<h4>2. Information through text chat</h4>
		        <p class="term-text">When you initiate a text chat on our website we collect your IP address, ID cookie, and a date and time stamp you connected to a chat partner. We may also collect Information through our “report” functionality about you. We collect this Information to track spammers, scammers and other threats that may negatively impact the use of our website.
				During a text chat you and your chat partner can share and openly view the Information below :
				<ul >
					<li>Optional interest(s) added to find chat partners with one (or more) similar interest(s)</li>
					<li>The option to share the chat log on social media platforms after a chat has been ended</li>
					<li>A notification that you are chatting with someone completely random</li>
					<li>A notification that you are chatting with someone in a selected country</li>
					<li>A notification that you are chatting with someone nearby</li>
					<li>Any information you provide in a current chat session (i.e., text strings, numerical values, emojis, and media files in the form of self-destructing images)</li>

				</ul>
				<br>
					Please note that any self-destructing image you send or receive through our text chat framework is automatically removed from our server after the chat has been ended. Similarly, all chat logs are automatically removed from our server after the chat has been ended. 

	             </p>


	         </div>  <br>
	         <div class="term-text">
	         	<h4>3. Information through webcam chat</h4>
	         	<p class="term-text">
				When you initiate a webcam chat through our website we make use of a direct connection between you and your chat partner. This framework is called peer-to-peer (i.e., P2P). To establish a P2P connection on our website we make use of your IP address and your chat partner’s IP address. However, neither you nor your chat partner will be able to view each other’s IP address on our website. If you don’t feel comfortable using this network architecture, we encourage you to use text chat instead.
				<br>
				<br> 

				We may collect webcam images of live webcam broadcasts on our server to monitor and penalize any misbehavior on our website. These webcam images may be subject to moderation. We moderate webcam images to identify website visitors that do not comply with the practices described in our Terms of Use and Chat Guidelines. Any inappropriate behavior conflicting with the practices described in our Terms of Use and Chat Guidelines will be flagged and may result in a temporary or permanent ban. 
				<br><br>

				During a webcam chat you and your chat partner can share and openly view the Information below:
				Your webcam broadcasting (i.e., video and audio)
				Optional interest(s) added to find chat partners with one (or more) similar interest(s)
				The option to share the chat log on social media platforms after a chat has been ended
				A notification that you are chatting with someone completely random
				A notification that you are chatting with someone in a selected country
				A notification that you are chatting with someone nearby
				Any information you provide in a current chat session (i.e., text strings, numerical values, and emojis)
				The option to share a screenshot of you and your chat partner’s webcam image on social media.
				</p>

	         </div>  <br>
	         <div class="term-text">
	         <h4> 4. Location Information</h4>
	         <p class="term-text">
	         	When using the “Nearby” functionality of our website we may collect and use your location Information (i.e., the IP address on your computer or mobile device). We do this to search for a matching chat partner within a 100 mile radius. Please note we do never share your exact location, rather we solely use the terms “You are now connected to a random person nearby” when you are connected to a matching chat partner. If we are not able to find a matching chat partner nearby, we may use your location Information to find a chat partner located in the same country as you. 
				<br>
				<br>
				Please keep in mind that other website visitors using the “Nearby” functionality can also see that you are nearby. We encourage you to never share your exact location or any other personally identifiable Information that can be linked to you. Please note that location Information may be subject to abuse. If you do not feel comfortable using the “Nearby” functionality, we encourage you to use the “World” or “Country” functionality instead.

	         </p>
	         </div> <br>
	         <div class="term-text">
	         	<h4>5. Use of cookies</h4>
	         	<p class="term-text">
	         		We may automatically collect certain Information through the use of "cookies" on our website. Cookies are small data files containing a string of alphanumeric characters that your browser stored on your computer. We use cookies to optimize our website and to make it easier and more accessible for visitors to use. For example, we may use cookies to save the interests you added. 
					<br>
					<br>
					Most web browsers are set to accept cookies by default. You can modify your web browser’s settings to remove or decline the use of cookies. Please note that certain features may not work if you decline or disable cookies.  

	         	</p>
	         </div> <br>
	         <div class="term-text">
	         	<h4>6. Sharing Information</h4>
	         	<p class="term-text">The Information our website retains may be shared with third parties, if necessary. For example, when applicable, we may share Information with the law enforcement agencies, to act upon any potential misconduct on our website. We may also share Information with third parties to optimize our moderation processes and compliance with our website’s Terms of Use and Chat Guidelines.</p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>7. Updates to Privacy Policy</h4>
	         	<p>We may update this Policy from time to time. In the case of any changes to this Policy, the effective date at the top of this page will be updated accordingly. By continuing to use our website after the Policy has been updated, you are agreeing to have Information collected as described in the updated Policy. </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>8. Parental control software</h4>
	         	<p class="term-text">You may want to use parental control software to limit a minor’s access to any form of unsuitable content. A range of parental control protections are widely available on the web. If you are interested in such software, we encourage you to view various Internet sites that may offer these type of online protection software applications.</p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>9. Safety disclosure</h4>
	         	<p class="term-text">We take adequate safety measures to maintain Information integrity on this website. However, we cannot ensure or warrant full safety over Information that is transmitted on our website. Therefore, any Information you transmit is at your own risk. Please note that we do our best to keep Information secure. This does not mean that we formally assure that Information cannot be used, disclosed or altered by other individuals.   </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>10. Questions</h4>
	         	<p class="term-text">Please <a ui-sref="contact">contact us </a>if you have any questions about this Privacy Policy.</p>
	         </div>
	         <br>
	         <br>

	        
	       </div>
	     </div>
	   </div>
   <div ng-include="'views/master/footer.html'" ></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>	

		<script>
			$(document).ready(function(){
			    $(".got").click(function(){
			        $(".wrapper-1").hide();
			       
			    });			    
			});
        </script>

        