	<div class="fixed-header" ng-include="'views/master/header.html'" ></div>	   
	<div class="fixed-header-container container" filters-height>
	     <div class="row" ng-style="style" style="padding-top:40px;">
	       <div class="col-md-12">
	         <div class="term-text">
		         <h1 class="term-big text">Terms of Use</h1>
		         <h5 class="term-heading">Last updated: 26 August 2016</h5>
		         <h4>1. Introduction</h4>
		         <p class="term-text">Thank you for visiting KosmoChat (collectively “KosmoChat”, “we”, “our”, “website”, or “Service”).  By accessing or using our Service you acknowledge that you have read, understood, and agree to be bound by these Terms. Please read them carefully. These Terms apply to all visitors, users, and other individuals who access or use our Service. If you do not agree with any part of these Terms, please do not access or use our Service. 
	             </p>
	         </div> <br>

	          <div class="term-text">
		         
		         <h4>2. Age requirements</h4>
		        <p class="term-text">If you are under 13 years of age you are permitted to view, access and use our Service. If you are under 18 years of age you are required to obtain a parent’s or legal guardian’s consent to view, access, and use our Service. You must be at least 18 years of age to view, access and use our Service independently. 
	             </p>
	         </div>  <br>
	          <div class="term-text">
		        
		         <h4>3. Prohibited actions:</h4>
		        <p class="term-text">By using our Service you agree that you will not :
		        <ol>
		        	<li>Share individuals’ private information</li>
		        	<li>Violate intellectual property rights</li>
		        	<li>Share or display nudity</li>
		        	<li>Sexually harass someone</li>
		        	<li>Use chat bots to transmit automated messages</li>
		        	<li>Broadcast simulated webcam images</li>
		        	<li>Discredit or denigrate someone </li>
		        	<li>Display prejudice against any ethnic group</li>
		        	<li>Share false information</li>
		        	<li>Advertise third party websites</li>
		        	<li>Restrict or inhibit someone from using and enjoying our Service</li>
		        	<li>Misbehave in any other inappropriate way </li>
		        	
		        </ol>
		         
				If you do not comply with these Terms you understand that you may be banned (i.e., denied access to our Service). This list is not meant to be exhaustive, and our Service reserves the right to determine what types of conduct it considers to be inappropriate use of our Service.
				<br>
				<br>
				We take adequate measures to ensure a safe and enjoyable Service. By using our Service you understand that human behavior is not always controllable. Some people you may encounter on our Service may show inappropriate behavior, these people are solely responsible for their own behavior. 


	             </p>

	         </div>  <br> 
	         <div class="term-text">
	         	<h4>4. Privacy policy and use of cookies</h4>
	         	<p class="term-text">By visiting or using our Service you agree to the Privacy Policy and Cookie Policy. If you do not agree with any part of the Privacy Policy or Cookie Policy, please do not access or use our Service. You can review the Privacy Policy and Cookie Policy <a ui-sref="privacy">here.</a> </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>5. Content infringement </h4>
	         	<p class="term-text">Using our Service does not provide you ownership of any intellectually property right of our Service. You may not use content from our Service unless we have given owner’s permission. These Terms do not give permission to use any branding or logo of our Service. You may not remove, obscure, or alter any content from our Service.
				<br>
				<br>
				Except as expressly permitted in these Terms, you agree not to reproduce, duplicate, copy, sell, trade, or exploit content for any commercial purposes, any portion of the Service, use of the Service, or access to the Service.
 				</p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>6. Liability</h4>
	         	<p class="term-text">Our service accepts no responsibility or liability for any content, communication, or other use or access of our Service by users of this Service in violation of these Terms. Use our Service at your own risk.  </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>7.Location</h4>
	         	<p class="term-text">By using our service you understand that your location may be used to find matching chat partners. However, we never specify your exact location. Please review our Privacy Policy for your location Information. 

				 </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>8. Video chat monitoring</h4>
	         	<p class="term-text">By using our Service you understand that your webcam broadcast may be monitored. We monitor video chat broadcasts to ensure users’ compliance with these Terms. Although video chat is monitored, you may encounter individuals who do not behave appropriately. We do our best to ensure these individuals are denied access to our Service.  </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>9. Parental software </h4>
	         	<p class="term-text">You may want to use parental control software to limit a minor’s access to any form of unsuitable content. A range of parental control protections are widely available on the web. If you are interested in such software, we encourage you to view various Internet sites that may offer these type of online protection software applications.   </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>10. Disclaimer of warranties, representations, and conditions</h4>
	         	<p class="term-text">YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. KOSMOCHAT EXPRESSLY DISCLAIMS ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES, REPRESENTATIONS AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, THE PROVIDER OF OUR SERVICE, AND ANY OTHER PERSON OR ENTITY ASSOCIATED WITH OUR SERVICE’S OPERATION, SHALL NOT BE HELD LIABLE FOR ANY DIRECT OR INDIRECT DAMAGES ARISING FROM THE USE OF OUR SERVICE, OR ANY OTHER DAMAGES RELATED TO KOSMOCHAT OF ANY KIND WHATSOEVER.  </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>11. International compliance with laws</h4>
	         	<p class="term-text">Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the country in which you reside. </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>12. Updates to Terms of Use</h4>
	         	<p class="term-text">We may update these Terms from time to time. In the case of any changes to these Terms, the effective date at the top of this page will be updated accordingly. By continuing to use our website after the Terms have been updated, you are agreeing to the Terms as described in the updated Terms of Use. </p>
	         </div> <br>

	         <div class="term-text">
	         	<h4>13. Questions</h4>
	         	<p class="term-text">Please <a ui-sref="contact">contact us</a> if you have any questions about these Terms of Use.  </p>
	         </div>
	         <br>
	         <br>

	         
	       </div>
	     </div>
	   </div>
   
<div ng-include="'views/master/footer.html'" ></div>


	</div><!--wrapper-outer -->
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>	

		<script>
			$(document).ready(function(){
			    $(".got").click(function(){
			        $(".wrapper-1").hide();
			       
			    });
			    
			});
        </script>