<div class="section-right-middle">
	<div class="section-right-middle-left">
		<div class="section-right-middle-left-2">
			<h5>Dashboard / </h5>
			<h4>Groups</h4>
		</div>
		<div class="clear"></div>
	</div>
	<div class="section-right-middle-bottom">
		<div layout="row" class="custom-cards layout-fill layout-margin layout-row">
			
		</div>
		<md-content layout-padding layout-wrap>
			<h3>All Groups</h3>
		    <md-table-container>
			  <table md-table ng-model="selected" md-progress="promise">
			    <thead md-head>
			      <tr md-row>
			        <th md-column>Group/Intitute</th>
			       	<td md-column>Created User</td>
			       	<td md-column>User Phone</td>
			       	<td md-column>User Email</td>
			        <th md-column>Status</th>
			        <th md-column>Actions</th>
			      </tr>
			    </thead>
			    <tbody md-body>
			      <tr md-row ng-repeat="group in allGroups">
			        <td md-cell>{{ group.name }}</td>
			        <td md-cell>{{ group.createdUser.fullname }}</td>
			        <td md-cell>{{ group.createdUser.phone }}</td>
			        <td md-cell>{{ group.createdUser.email }}</td>
			        <td md-cell ng-if="!group.isApproved">Waiting for approval</td>
			        <td md-cell ng-if="group.isApproved">Approved</td>
			        <td md-cell>
			        	<md-menu md-position-mode="target-right target" >
				          <md-button aria-label="Actions" class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
				            <md-icon><i class="material-icons">more_vert</i></md-icon>
				          </md-button>
				          <md-menu-content width="2" >
				            <md-menu-item>
				            	<md-button class="md-warn" ng-click="getData(group._id, 'details')">Details</md-button>
				            </md-menu-item>
				            <md-menu-item ng-if="user._id == group.createdUser._id && group.isApproved">
				            	<md-button class="md-warn" ng-click="getData(group._id, 'edit')">Edit</md-button>
				            </md-menu-item>
				          </md-menu-content>
				        </md-menu>
	        		</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
		</md-content>
	</div>
	<div class="clear"></div>
</div>