<div class="section-right-middle">
	<div class="section-right-middle-left">
		<div class="section-right-middle-left-2">
			<h5>Dashboard / </h5>
		<h4>Change Password</h4> </div>
		<div class="clear"></div>
	</div>
	<div class="section-right-middle-right right-align">
		<md-button class="md-raised md-primary" ui-sref="user.profile" aria-label="description" md-ripple-size="full">
		<i class="icon_eye"></i>&nbsp;&nbsp;Profile
		</md-button>
	</div>
	<div class="clear"></div>
</div>
<div class="section-right-bottom">
	<div class="content-here">
		<md-content layout-padding layout-wrap>
			<p>Set a new password for your account.</p> <br>
			<small>Use your new password to login next time.</small>
			<form name="form" ng-submit=changePassword(formDetails)>
				<md-input-container class="md-block">
					<label>Current Password</label>
					<input type="password" required name="current" ng-model="formDetails.current">
					<div ng-messages="form.current.$error">
						<div ng-message="required">Please enter your old password.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>New Password</label>
					<input type="password" required name="newPassword" ng-model="formDetails.newPassword">
					<div ng-messages="form.newPassword.$error">
						<div ng-message="required">Please enter your new password.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block">
					<label>Repeat New Password</label>
					<input type="password" required name="confNewPassword" ng-model="formDetails.confNewPassword">
					<div ng-messages="form.confNewPassword.$error">
						<div ng-message="required">Please enter your new password again.</div>
					</div>
				</md-input-container>
				<div layout="row" layout-align="center center">
					<md-input-container>
						<md-button type="submit" class="md-primary md-raised md-hue-1" ng-disabled="form.$invalid">Change Password</md-button>
					</md-input-container>
				</div>
			</form>
		</md-content>
	</div>
</div>