<div class="login-wrapper" ng-controller="baseCtrl">
        <a href="#" class="logo-site"><img src="public/assets/imgs/gc-logo.png"></a>
    <div class="credentials page-with-content" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
        <h3>Neelesh, You're Invited</h3>
        <label><span>Suresh</span> has invited you to join his class on <a href="#">goclassrooms.com</a></label>
        <p>
          What is GoClassRooms.com? An online notes-sharing, group communication service that enables students to study smartly, teachers to educate more effectively, principals to manage the institution better and parents to get real time updates. Everyone can share the progress publicly or privately on the app.
        </p>
          <div layout="row" class="invitation-btns" layout-align="center center">
            <md-input-container>
              <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">Accept</md-button>
              <md-button class="md-primary md-raised" ng-click="showConfirm($event)">Reject</md-button>
              <md-button class="md-accent  md-raised" ng-click="showReportSpam($event)">Report Spam</md-button>
            </md-input-container>
          </div>
        </md-content>


    </div>
</div>
