<div class="login-wrapper">
        <a href="#" class="logo-site"><img src="public/assets/imgs/gc-logo.png"></a>
    <div class="credentials" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding>
        <h3>Login</h3>
        <label>Enter your details to login</label>
        <form name="loginForm" ng-submit=doLogin(formDetails)>
          <md-input-container class="md-block">
              <label>Phone Number</label>
              <input name="phone" required ng-model="formDetails.phone" md-minlength="10" md-maxlength="10" ng-pattern="/^[0-9]{10}$/" >
              <div ng-messages="loginForm.phone.$error">
                  <div ng-message="required">Please enter your phone number.</div>
                  <div ng-message="minlength">Please enter valid 10 digit phone number</div>
                  <div ng-message="maxlength">Please enter valid 10 digit phone number</div>
                  <div ng-message="pattern">Please enter digits only</div>
              </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input required name="password" type="password" ng-model="formDetails.password">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="required">You cannot login without password.</div>
            </div>
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-input-container>
              <md-button type="submit" class="md-primary md-raised md-hue-1" ng-disabled="loginForm.$invalid">Submit</md-button>
            </md-input-container>
          </div>
          <br>
          <div layout="row" layout-align="center center">
            <p>Don't have an account? <a ui-sref="register">Register Here</a> </p>
          </div>
          <div layout="row" layout-align="center center">
            <a ui-sref="forgot">Forgot Password?</a>
          </div>
        </form>
      </md-content>
    </div>
</div>
