<div class="login-wrapper">
        <a href="#" class="logo-site"><img src="public/assets/imgs/gc-logo.png"></a>
    <div class="credentials" layout="column" ng-cloak class="md-inline-form">
        <md-content layout-padding >
            <h3>Set Password</h3>
            <label>Please set a password for your account.</label>
            <form name="setPasswordForm" ng-submit=setPassword(formDetails)>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" required name="password" ng-model="formDetails.password">
                    <div ng-messages="setPasswordForm.password.$error">
                      <div ng-message="required">Enter your desired password</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Confirm Password</label>
                    <input type="password" required name="confirmPassword" ng-model="formDetails.confirmPassword">
                    <div ng-messages="setPasswordForm.confirmPassword.$error">
                      <div ng-message="required">Enter the same password again</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-input-container>
                      <md-button type="submit" class="md-primary md-raised md-hue-1" ng-disabled="setPasswordForm.$invalid">Submit</md-button>
                    </md-input-container>
                </div>
                <br>
            </form>
      </md-content>
    </div>
</div>